.containerHome {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}

.containerCard {
  background: #323232;
  box-shadow: 12.2518px 24.1017px 16.4993px -7.32006px #0006;
  border: 1px solid #454545;
  border-radius: 8px;
  color: #f1f1f1;
  width: 177px;
  height: 165px;
  padding: 15px 17px 17px;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin: 15px;

  transition: 0.5s all;
}

.containerCard:hover {
  transform: scale(1.1);
  transition: 0.5s all;
}

.productCardDivider {
  height: 0.7px;
  width: 165px;
  background: linear-gradient(45deg, transparent, #f1f1f1, transparent);
  margin: 10px auto 8px;
}

.text {
  text-align: center;
}
