:root{
  --color-primary: #F1F1F1;
  --background-primary: #2A2A2A;
}

body {
  margin: 0;
  color: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;
}

.main{
  margin-top: 55px;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}